body {
    margin: 0 auto;
    background-color: #06173e;
    font-family: Arial;
}

#container {
    width: 100%;
    height: 100%;
}

.section-1 {
    width: 100%;
    height: 1254px;
    background: url("../img/indexBg.jpg") no-repeat center;
}

.section-2 {
    width: 100%;
    min-width: 1024px;
    text-align: center;
    margin-top: -14%;
}

.section-3 {
    width: 100%;
    min-width: 1024px;
    height: 730px;
    background: url("../img/footer-bg.png") no-repeat center;
}

.main {
    width: 1400px;
    height: 800px;
    position: relative;
    margin: 0 auto;
}

.main p {
    position: absolute;

}

.main p.tip1 {
    width: 221px;
    height: 239px;
    left: 1%;
    top: 5%;
    background: url("../img/tip1.png") no-repeat center;
}

.main p.tip2 {
    width: 247px;
    height: 235px;
    right: 0;
    top: 4%;
    background: url("../img/tip2.png") no-repeat center;
}

.main p.tip3 {
    width: 176px;
    height: 178px;
    right: 4%;
    top: 39%;
    background: url("../img/tip3.png") no-repeat center;
}

.main p.tip4 {
    width: 195px;
    height: 181px;
    right: 4%;
    bottom: 10%;
    background: url("../img/tip4.png") no-repeat center;
}

.main p.tip5 {
    width: 337px;
    height: 309px;
    left: -21px;
    bottom: 5%;
    background: url("../img/tip5.png") no-repeat center;
}

.main p.tip6 {
    width: 136px;
    height: 144px;
    left: 7%;
    bottom: 43%;
    background: url("../img/tip6.png") no-repeat center;
}

.main .middle-box {
    margin: 0 auto;
    width: 954px;
    height: 827px;
    position: relative;
    /* border: 1px solid red; */
}

.middle-box .logo {
    width: 319px;
    height: 195px;
    margin: 0 auto;
    background: url("../img/logo.png") no-repeat center;
}

.middle-box p.slogan {
    width: 951px;
    height: 381px;
    margin-top: 1%;
    background: url("../img/slogan.png") no-repeat center;
}

.middle-box p.startTime {
    width: 950px;
    font-size: 23px;
    bottom: 18%;
    color: #d3be76;
    /* margin-left: 7%; */
    /* margin: 0 auto; */
    text-align: center;
}

.userMessage {
    width: 950px;
    height: 22px;
    margin: 0 auto;
    margin-bottom: 30px;
    cursor: pointer;
    text-align: center;
    display: none;
    position: absolute;
    bottom: 17%;
}

.userMessage span {
    font-size: 22px;
}

span.user, span.user-qf, span.user-js {
    color: white;
}

span.changeQf, span.user-init {
    color: #fdedae;
}

.middle-box p.banner {
    width: 950px;
    height: 174px;
    margin-top: 30%;
    /* margin: 0 auto; */
    background: url("../img/banner.png") no-repeat center;
}

.middle-box .down-box {
    width: 788px;
    height: 135px;
    position: absolute;
    bottom: 0;
    left: 12%;
    margin: 0 auto;
}

.middle-box .down-box a {
    float: left;
}

.down-box a.android {
    width: 209px;
    height: 135px;
    /* line-height: 135px; */
    background: url("../img/Android.png") no-repeat center;
}

.down-box a.app {
    width: 209px;
    height: 135px;
    background: url("../img/Appstore.png") no-repeat center;
}

.down-box a.loginBtn {
    width: 316px;
    height: 133px;
    background: url("../img/loginBtn.png") no-repeat center;
}

.middle-box .down-box a:hover, .chestBtn:hover {
    opacity: .8;
    filter: alpha(opacity=80);
}

@-webkit-keyframes hoverMove {
    0% {
        opacity: 1;
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
    50% {
        opacity: 0.5;
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
}

@keyframes hoverMove {
    0% {
        opacity: 1;
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
    50% {
        opacity: 0.5;
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
}

.tip-item {
    animation: hoverMove 2s linear 0s infinite normal both;
    -webkit-animation: hoverMove 2s linear 0s infinite normal both;
}

.tip3 {
    animation: hoverMove 3s linear 0s infinite normal both;
    -webkit-animation: hoverMove 3s linear 0s infinite normal both;
}

.tip5 {
    animation: hoverMove 3.5s linear 0s infinite normal both;
    -webkit-animation: hoverMove 3.5s linear 0s infinite normal both;
}

.section-2 .title {
    width: 960px;
    height: 167px;
    margin: 30px auto;
    background: url("../img/title-1.png") no-repeat center;
}

.section-2 .chest-box {
    width: 1200px;
    height: 410px;
    margin: 0 auto;
}

.chest-box .chestbox-ul {
    width: 1130px;
    height: 279px;
    background: url("../img/chestBg.png") no-repeat center;
    background-position: 0% 68%;
    margin: 0 auto;
    position: relative;
}

.chest-box .chestbox-ul li {
    position: absolute;
}

.chestbox-ul li {
    display: inline-block;
    margin: 0 auto;
    width: 175px;
    height: 292px;
}

.chestbox-ul li p.li-desc {
    font-size: 15px;
    color: #d3be76;
    text-align: center;
    margin-bottom: 7%;
    margin-top: 29px;
    width: 100%;
    height: 50px;
}

.bold {
    font-weight: bold;
}

.chest-box .chestbox-ul li a.chestBtn {
    width: 191px;
    height: 76px;
    display: block;
    margin: 0 auto;
    background: url("../img/chestBtn.png") no-repeat center;
}

.chest-box .chestbox-ul li:nth-child(1) {
    left: 0%;
}

.chest-box .chestbox-ul li:nth-child(2) {

    left: 19%;
}

.chest-box .chestbox-ul li:nth-child(3) {

    left: 40%;
}

.chest-box .chestbox-ul li:nth-child(4) {
    right: 25%;
}

.chest-box .chestbox-ul li:nth-child(5) {
    right: 4%;
}

.showBoxBtn {
    margin: 0 auto;
    cursor: pointer;
}

.showBoxPic1 {
    width: 175px;
    height: 124px;
    margin: 0 auto;
    background: url("../img/p1.png") no-repeat center;
}

.showBoxPic2 {
    width: 184px;
    height: 124px;
    margin-left: 4%;
    background: url("../img/p2.png") no-repeat center;
}

.showBoxPic3 {
    width: 195px;
    height: 124px;
    background: url("../img/p3.png") no-repeat center;
}

.showBoxPic4 {
    width: 195px;
    height: 124px;
    background: url("../img/p4.png") no-repeat center;
}

.showBoxPic5 {
    width: 197px;
    height: 124px;
    background: url("../img/p5.png") no-repeat center;
}

.chest-box .word {
    width: 100%;
    text-align: center;
    font-size: 20px;
    margin-top: 5%;
}

.day-box .word {
    width: 90%;
    height: 50px;
    position: absolute;
    bottom: 8%;
    font-size: 16px;
    left: 42px;
    color: #9c2905;
    font-weight: bold;
    text-align: left;
}

.title-2 {
    width: 1011px;
    height: 139px;
    margin: 0 auto;
    background: url("../img/title-2.png") no-repeat center;
}

.title-3 {
    width: 855px;
    height: 73px;
    margin: 0 auto;
    background: url("../img/title-3.png") no-repeat center;
}

.dayChest {
    width: 1008px;
    height: 600px;
    margin: 0 auto;
    margin-bottom: 5%;
    position: relative;
}

.dayChest ul.nav {
    width: 100%;
    height: 80px;
}

.dayChest ul.nav li {
    width: 13%;
    display: inline-block;
}

.dayChest ul.nav li span {
    line-height: 80px;
    font-size: 15px;
    display: block;
    color: #d3be76;
    font-weight: bold;
}

.dayChest ul.nav li span.on {
    width: 159px;
    height: 89px;
    color: #9c2905;
    background: url("../img/active.png") no-repeat;
}

.dayChest ul.nav li:nth-child(1) {
    margin-left: -3%;
}

.day-box {
    width: 1008px;
    height: 480px;
    margin: 0 auto;
    background: url("../img/taskBg.png") no-repeat center;
}

.week-box {
    width: 1000px;
    height: 436px;
    margin: 0 auto;
}

.weekChest {
    width: 1100px;
    height: 650px;
    margin: 0 auto;
    background: url("../img/weekBg.png") no-repeat center;
}

.dayBtn {
    width: 211px;
    background: url("../img/boxBtn2.png") no-repeat center;
}

.weekBtn {
    width: 210px;
    height: 46px;
    background: url("../img/weekBtn.png") no-repeat center;
}

.weekBtn.weekActive,
.dayBtn.dayActive {
    background: url("../img/noClick_btn.png") no-repeat center;
}

.title-4 {
    width: 1051px;
    height: 73px;
    text-align: center;
    background: url("../img/title-4.png") no-repeat center;
    padding-top: 5%;
}

.content {
    float: left;
    margin-top: 1%;
    padding: 3%;
    margin-left: 1%;
}

.content li {
    height: 70px;
    border-bottom: 1px dashed #b89650;
    width: 100%;
    overflow: hidden;
    float: left;
}

.content li a, .content li span {
    float: left;
    height: 66px;
    font-size: 16px;
    overflow: hidden;
}

.content li a span {
    float: none;
    color: #f00;
}

.day-box li {
    line-height: 70px;
}

.week-box li span {
    width: 74% !important;
    float: left !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: normal !important;
    margin-top: 25px;
}

span.spanDesc {
    width: 74%;
    text-align: left;
    font-weight: bold;
}

.footer-title {
    width: 662px;
    height: 73px;
    margin: 0 auto;
    padding-top: 6%;
    background: url("../img/title-5.png") no-repeat center;
}

.rule-box {
    width: 960px;
    height: auto;
    /* border: 1px springgreen; */
    margin: 0 auto;
}

.rule-1 {
    clear: both;
    margin-bottom: 3%;
}

h5 {
    float: left;
    height: 120px;
    color: #d4b440;
    margin-right: 1%;
    margin-top: 3px;
    width: 90px;
    font-size: 18px;
    text-align: left;
}

.rule-box p {
    color: #5870a5;
    font-size: 16px;
    line-height: 26px;
}

.rule-box p span.time, .rule-box p a {
    color: #d4b440;
}

.copyRight {
    width: 960px;
    text-align: center;
    margin: 0 auto;
}

.nav-box {
    width: 150px;
    height: 426px;
    position: fixed;
    top: 36%;
    right: 2%;
    background: url("../img/nav.png") no-repeat center;
}

.nav-box a {
    color: #e1b950;
    text-align: center;
    height: 59px;
    justify-content: center;
    display: flex;
    border-bottom: 1px dashed #b89650;
    font-size: 15px;
    font-weight: bold;
    width: 113px;
    margin-left: 12%;
}

.nav-box .facebook {
    margin-top: 42%;
    line-height: 52px;
}

.nav-box .box-1 {
    height: 47px;
}

.nav-box .box-3 {
    line-height: 25px;
}

.nav-box .box-4 {
    line-height: 49px;
}

.black-bg {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 3;
    opacity: 0.6;
    filter: alpha(opacity=60);
    display: none;
    background: black;
}

.loading {
    width: 100%;
    position: fixed;
    z-index: 4;
    top: 38%;
    margin-left: 14px;
    display: none;
}

.loginBox, .chooseBox {
    width: 100%;
    height: 269px;
    margin: 0 auto;
    position: fixed;
    top: 30%;
    display: none;
    z-index: 4;
    background: url(../img/alertBg.png) no-repeat center;
}

.login-main, .choose-main {
    width: 730px;
    margin: 0 auto;
    height: 270px;
    padding-top: 28px;
    position: relative;
}

.loadingBtn {
    width: 32px;
    height: 32px;
    position: absolute;
    background: url(../img/loading.gif) no-repeat;
    right: 10%;
    bottom: 44%;
    display: none;
}

.login-tip {
    width: 500px;
    margin: 0 auto;
    font-size: 18px;
    text-align: center;
    color: #ad5535;
    margin-top: 10px;
    display: none;
}

.closeBtn,
.chooseBoxCloseBtn {
    width: 32px;
    height: 32px;
    position: absolute;
    cursor: pointer;
    background: url("../img/closeBtn.png");
    right: 0;
    top: -38px;
    transition: transform 1s;
}

.closeBtn:hover,
.chooseBoxCloseBtn:hover {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}

.login-main .login {
    width: 22%;
    height: 66px;
    border: 0;
    margin-top: 3%;
    margin-left: 34%;
    background: url("../img/login.png") no-repeat;
    cursor: pointer;
}

.login-main .fbBtn {
    width: 161px;
    height: 66px;
    margin-top: 3%;
    cursor: pointer;
    background: url("../img/fb.png") no-repeat;
}

.login-main input {
    width: 356px;
    height: 41px;
    font-size: 16px;
    text-align: center;
    background: #161f28;
    color: white;
    border-radius: 7px;
    border: 0;
}

.login-main p {
    color: black;
    font-weight: bold;
    font-size: 16px;
    width: 23%;
    float: left;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin: 0 3px;
}

.login-main .pbox {
    width: 70%;
    margin: 10px auto;
}

.chooseBox select {
    width: 421px;
    height: 40px;
    margin-left: 24%;
    margin-top: 41px;
    background: #161f28;
    color: #efbba0;
}

.chooseBox .channelLogin {
    width: 161px;
    height: 66px;
    display: block;
    margin: 0 auto;
    margin-top: 36px;
    background: url("../img/channelLogin.png") no-repeat center;
}

.chooseBox .errorTip {
    width: 500px;
    margin: 0 auto;
    font-size: 13px;
    text-align: center;
    color: #ad5535;
    margin-top: 10px;
}

.alert-chest-box {
    width: 100%;
    height: 436px;
    margin: 0 auto;
    position: fixed;
    top: 30%;
    display: none;
    z-index: 4;
    background: url(../img/chestbox-Bg.png) no-repeat center;
}

.alert-chest-box2 {
    width: 100%;
    height: 436px;
    margin: 0 auto;
    position: fixed;
    top: 30%;
    display: none;
    z-index: 4;
    background: url(../img/chestbox-Bg2.png) no-repeat center;
}

.alert-chest-main2 {
    width: 765px;
    margin: 0 auto;
    height: 762px;
    margin-top: 92px;
    position: relative;
}

.chestBtn-box {
    position: absolute;
    width: 100%;
    bottom: 15%;
    height: 60px;
}

.alert-chest-main2 a.chestBtn {
    width: 98px;
    height: 39px;
    display: block;
    float: left;
    margin: 0 24px;
    background: url("../img/alert-chestBtn.png") no-repeat center;
}

.alert-chest-main {
    width: 765px;
    margin: 0 auto;
    height: 379px;
    margin-top: 31px;
    position: relative;
}

.alert-chest-main .closeBtn {
    width: 32px;
    height: 32px;
    position: absolute;
    cursor: pointer;
    background: url("../img/closeBtn.png");
    right: 0;
    top: -60px;
    transition: transform 3s;
}

.alert-chest-main .chestbox-ul {
    width: 765px;
    text-align: center;
    height: 245px;
    margin-top: 36px;
    position: relative;
}

.alert-chest-main .chestbox-ul li {
    width: 98px;
    height: 98px;
}

.qt-box-ul li {
    margin: 0px 25px;
}

span.chestDesc {
    position: absolute;
    bottom: 28%;
    width: 112px;
    height: 47px;
    font-size: 13px;
    margin: -5px -54px;
}

button.boxBtn {
    width: 98px;
    height: 39px;
    display: block;
    margin: 0 auto;
    background: url("../img/alert-chestBtn.png") no-repeat center;
    position: absolute;
    bottom: 7%;
}

a.chestBtn.chesetBtn4 {
    padding-left: 2%;
}

a.chestBtn.chesetBtn5 {
    padding-left: 4%;
}

.alert-chest-box .article,
.alert-chest-box2 .article {
    font-size: 36px;
    color: #963E2C;
    margin: 10px auto;
}

.chestWord {
    font-size: 17px;
    color: #333;
}

.box1-word {
    clear: both;
    position: absolute;
    left: 21%;
}

.zs-box-ul li {
    margin: 0px 56px;
}

.zs-box-ul li:nth-child(1) {
    background: url("../img/zs-1.png") no-repeat center;
    /* margin-left: 19px; */
}

.zs-box-ul li:nth-child(2) {
    background: url("../img/zs-2.png") no-repeat center;
    margin-left: 23px;
}

.zs-box-ul li:nth-child(3) {
    background: url("../img/zs-3.png") no-repeat center;
    margin-left: 28px;
}

.zs-box-ul li:nth-child(4) {
    background: url("../img/zs-4.png") no-repeat center;
    margin-left: 24px;
}

/*progress*/

.load-bar-box {
    width: 1211px;
    height: 227px;
    margin: 0 auto;
    position: relative;
    background: url("../img/loadBar.png") no-repeat center;
}

.progress-div {
    height: 63px;
    position: relative;
    left: 8%;
    top: 27%;
    width: 1016px;
    max-width: 1016px;
}

.point-item {
    position: absolute;
    top: 135px;
    right: -46px;
    color: #fff;
    font-size: 19px;
    font-weight: bold;
    padding: 5px 7px;
    display: none;
    /* background: #333; */
    border-radius: 0 0 5px 5px;
}

.point-item:before {
    content: "";
    position: absolute;
    bottom: 29px;
    left: 10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 19px 30px 17px;
    border-color: transparent transparent #ff8c00 transparent;
    /* border: 7px solid; */
    /* border-top: 7px solid #333; */
    /* border-left: 7px solid transparent; */
    /* border-right: 7px solid transparent; */
}

.progress-bar {
    width: 0;
    max-width: 100%;
    height: 63px;
    position: relative;
    border-radius: 13px;
    -webkit-transition: 0.4s linear;
    -moz-transition: 0.4s linear;
    -o-transition: 0.4s linear;
    transition: 0.4s linear;
    -webkit-transition-property: width, background-color;
    -moz-transition-property: width, background-color;
    -o-transition-property: width, background-color;
    transition-property: width, background-color;
    -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
}

.progress-bar:before, .progress-bar:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.progress-bar:after {
    z-index: 2;
    bottom: -3%;
    border-radius: 12px;
    background-image: -webkit-linear-gradient(top, #fffaa2, #f5bc20, #df6f10, #b64809);
    background-image: -moz-linear-gradient(top, #fffaa2, #f5bc20, #df6f10, #b64809);
    background-image: -o-linear-gradient(top, #fffaa2, #f5bc20, #df6f10, #b64809);
    background-image: linear-gradient(to bottom, #fffaa2, #f5bc20, #df6f10, #b64809);
}

.playTip-box, .awardTip-box, .goToFb-box {
    width: 100%;
    height: 269px;
    margin: 0 auto;
    position: fixed;
    top: 30%;
    display: none;
    z-index: 4;
    background: url(../img/alertBg.png) no-repeat center;
}

.goToFb-button {
    width: 116px;
    height: 47px;
    margin: 0 auto;
    display: block;
    margin-top: 5%;
    background: url("../img/goFbPage.png") no-repeat;
}

.award-main {
    width: 100%;
    height: 329px;
    margin: 0 auto;
    position: fixed;
    top: 30%;
    display: none;
    z-index: 4;
    background: url(../img/awardBg.png) no-repeat center;
}

.playTip-main, .awardTip-main, .fb-box {
    width: 730px;
    margin: 0 auto;
    height: 270px;
    position: relative;
}

.award {
    width: 730px;
    margin: 0 auto;
    height: 270px;
    position: relative;
    z-index: 5;
}

.ambilTip-box-1, .ambilTip-box-2 {
    width: 730px;
    margin: 0 auto;
    height: 270px;
    position: relative;
    z-index: 5;
    display: none;
}

button.getItemButton {
    text-align: center;
    width: 362px;
    height: 64px;
    background: url("../img/chestBtn.png") no-repeat center;
    margin: 0 auto;
    margin-top: -10px;
}

.item-p {
    padding-top: 3%;
}

p.item-rule {
    font-size: 16px;
    clear: both;
    color: #963E2C;
    text-align: center;
    font-weight: bold;
}

.fb-item-rule {
    padding-top: 12%;
}

.ambilTip {
    padding-top: 12%;
    text-align: center;
}

.desc-2 {
    width: 600px;
    margin: 0 auto;
    height: 150px;
    line-height: 35px;
}

.desc-1, .desc-2, .desc-4 {
    display: none;
}

p.ambilDesc {
    font-size: 19px;
    width: 73%;
    margin: 0 auto;
    color: #963E2C;
}

.sureButton {
    width: 84px;
    height: 34px;
    background: url("../img/notBtn.png") no-repeat center;
    border: 0;
    margin-top: 6%;
}

.notButton {
    width: 84px;
    height: 34px;
    background: url("../img/sureBtn.png") no-repeat center;
    border: 0;
    margin-top: 10%;
    margin-left: 6%;
}

.ambilAward {
    text-align: center;
    padding-top: 12%;
    color: #963E2C;
    font-size: 18px;
    font-weight: bold;
}

.item-list {
    margin: 0 auto;
    text-align: center;
    padding-top: 85px;
    font-size: 16px;
    color: brown;
    width: 600px;
}

.item-list p {
    margin: 10px auto;
}

.item-list-h4 {
    float: left;
    width: 287px;
    text-align: right;
}

.item-list-p {
    width: 260px;
    float: left;
    text-align: left;
    margin-bottom: 13px;
    margin-left: 32px;
}
